$addbtn-color: #18e718;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Tahoma, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(
		to right,
		#55b0d1,
		#409ab4,
		#2c8497,
		#196e7c,
		#045962
	);
	min-height: 100vh;

	header {
		font-size: 25px;
		color: #ffffff;
		text-align: center;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 1;
		background-image: linear-gradient(
			to right,
			#55b0d1,
			#409ab4,
			#2c8497,
			#196e7c,
			#045962
		);

		#list-input {
			padding: 30px 0 30px 0;

			form {
				display: flex;
				align-items: center;
				justify-content: center;

				input {
					border: none;
					border-radius: 3px 0 0 3px;
					padding: 8px;
					font-size: 20px;
				}

				input:focus {
					outline: none;
				}

				button {
					border: none;
					border-radius: 0 3px 3px 0;
					background-color: $addbtn-color;
					padding: 8px;
					font-size: 20px;
				}

				button:hover {
					opacity: 0.7;
				}
			}
		}
	}

	main {
		background-image: linear-gradient(
			to right,
			#55b0d1,
			#409ab4,
			#2c8497,
			#196e7c,
			#045962
		);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 15px;

		#list-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			column-gap: 10px;
			row-gap: 10px;
		}
	}
}

.todo-list-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(216, 211, 211, 0.4);
	width: 20%;

	#card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;

		p {
			font-weight: bold;
			font-size: 20px;
			max-width: 70%;
			word-wrap: break-word;
		}

		button {
			display: flex;
			justify-content: center;
			background: none;
			border: none;
			color: #ffffff;
		}

		button:hover {
			color: #ff0000;
		}
	}

	form {
		display: flex;
		justify-content: center;
		padding: 10px;

		input {
			border: none;
			padding: 3px;
			font-size: 16px;
		}

		input:focus {
			outline: none;
		}

		button {
			border: none;
			background-color: $addbtn-color;
			padding: 3px;
			font-size: 16px;
		}

		button:hover {
			opacity: 0.3;
		}
	}

	ul {
		list-style: none;
		font-size: 16px;
		font-weight: bolder;
		padding: 3px;
		width: 80%;

		li {
			padding: 3px 0;

			div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				column-gap: 2px;

				p {
					word-wrap: break-word;
					max-width: 70%;
				}

				div#btn {
					display: flex;
					align-items: center;
					column-gap: 5px;

					#delete {
						background: none;
						border: none;
						color: #ffffff;
					}

					#delete:hover {
						color: #ff0000;
					}

					#completed {
						background: none;
						border: none;
						color: #ffffff;
					}

					#completed:hover {
						color: #03c203;
					}
				}
			}
		}
	}
}

.completed {
	p {
		text-decoration: line-through;
		opacity: 0.5;
	}

	div#btn button#completed i {
		color: #03c203;
	}
}

.delete {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

@import 'mobile.scss';
